body {
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  font-family: Tahoma;
}

.one {
  width: 100%; 
  float:left;
  grid-column: 1;
  grid-row: 1;
}

.two {
  float:left;
  grid-column: 1;
  grid-row: 2;
  width: 40%;
}

.three {
  grid-column: 2;
  grid-row: 2;
  width: 40%;
}

.four {
  grid-column: 2;
  grid-row: 4;
}

.five {
  grid-column: 2;
  grid-row: 5;
}

.six {
  grid-column: 2;
  grid-row: 6;
}

.textbox {
  border: 3px solid #ccc;
  border-radius: 10px;
}

.buttonModify {
  border: 0;
  background-color:cornflowerblue;
  box-shadow: none;
  height: 30px; 
}

.labelModify{
  height: 100px;
}

